[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask-restful = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-socketio = "*"
sqlalchemy-serializer = "*"
flask-mail = "*"
load-dotenv = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
